
<h1><%= title %></h1>
<!--
<form>
    <input type="text" name="searchTerm" id="searchTerm">
    <br><br>
    <input type="submit" id="youTubeSearch" value="Submit"/>
</form>
-->


<div id="player"></div>

<script src="/js/youtubeAPI.js"></script>
<!--<script>
    window.addEventListener('load', function(){
        document.getElementById("youTubeSearch").addEventListener('click', function() {
            var data = document.getElementById('searchTerm').value;
            console.log(data);
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'searchYT');
            xhr.send(null);
        })
    });
</script>-->

